/*font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;*/
/* background: rgb(0,0,0);
background: linear-gradient(35deg, rgba(0,0,0,1) 0%, rgba(5,4,41,1) 55%, rgba(0,0,0,1) 100%);*/
body {
    font-family: "open sans", sans-serif;
    font-size: 16px;
    line-height: 20px;

}

header {
    background: rgb(0, 0, 0);
    background: linear-gradient(35deg, rgba(0, 0, 0, 1) 0%, rgba(5, 4, 41, 1) 55%, rgba(0, 0, 0, 1) 100%);
    padding: 16px 0;
}

header img {
    padding: 5px;
   
}

header h1 {
    color: white;
    font-size: 50px;
    font-weight: 100;
    font-style: italic;
    display: inline-block;
    position: relative;
    bottom: 35px;
    margin-left: 10px;

}



nav {
    background: rgb(0, 0, 0);
    background: linear-gradient(35deg, rgba(0, 0, 0, 1) 0%, rgba(5, 4, 41, 1) 55%, rgba(0, 0, 0, 1) 100%);
    margin-bottom: 20px;
}

nav ul {
   color: white;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    flex-grow: 1;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align: center;
}
nav ul li a:hover {
    background-color:black;
}

footer {
    background: rgb(0, 0, 0);
    background: linear-gradient(35deg, rgba(0, 0, 0, 1) 0%, rgba(5, 4, 41, 1) 55%, rgba(0, 0, 0, 1) 100%);
    clear: both;
    color: #313131;
    text-align: center;
    padding: 5px 0;
    margin-top: 20px;
}
nav ul li a.activo {
    background-color:black;
}
.holder {
    max-width: 960px;
    margin: auto;
}

nav i {
    color: white;
    font-size: 20px;
    margin-right: 15px;
    box-sizing: border-box;
}
h2{ 
    color: white;
    font-weight: 200;
    font-size: 35px;
}
.Bienvenidos{ 
    padding-right: 10px;
    box-sizing: border-box;
}
 p{ color: white;
font-size: 13px;}
/*fin inicio*/
/*inicio nosotros*/

.Cuerpotécnico { font-size: 12px;
}
.Categorías { display: flex;
justify-content: space-around;}

 h3{ color: white;
    background: black;
font-weight: normal;
font-size: 20px;
}
/*fin nosotros*/
/*inicio rugby*/

.Rugby{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 16px;
    margin: 16px 0;
    display: flex;
    gap: 32px;
    align-items: center;
}
.Rugby .infoh4{ 
    color: white;
    font-weight: 500;
    font-style: italic;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}
h4{ color: white;}
.Rugby .info p{
    font-size: 13px;
}

.Rugby img{ border-radius: 13px;
display: block;
max-width: 225px;
}

.Rugby:nth-child(even){
    flex-direction: row-reverse;
}
/*fin rugby*/
/*inicio galeria*/

.Galeria{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: rgb(0, 0, 0);
    background: linear-gradient(35deg, rgba(0, 0, 0, 1) 0%, rgba(5, 4, 41, 1) 55%, rgba(0, 0, 0, 1) 100%);


}
.Galeria img{
    width: 35%;
    border: 1px solid #ddd;
    padding: 3px;
    box-sizing: border-box;
    margin-bottom: 30px;
    margin-right: 10%;
    margin-top: 5%;
}
/*fin galeria*/
/*inicio contacto*/

.contacto{
    display: flex;
    gap: 24px;
}
.contacto div { width: 100%;
}
.Datos p{ 
    font-size: 14px;
}
.Datos ul li {
    font-size: 15px;
}
.Formulario p{
    display: flex;
}
.Formulario p label{
    min-width: 80px;
}
.Formulario p label{
    display: flex;
    align-items: center;
}
.Formulario p:nth-child(4){
    align-items: start;
}
.Formulario textarea{
    resize: none;
    height: 150px;
}
.Formulario input[type="submit"] {
    background: gray;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.4);
    color:black;
    font-size: 16px;
    padding: 6px 20px;
    width: auto;
    position: relative;
    left: 5rem;
    cursor: pointer;
}

.Formulario input[type="submit"]:hover {
    background-color:lightgrey;
}
