h1{ background:white;
    background: radial-gradient(circle, white, rgba(9,9,121,1) 46%, rgba(0,212,255,1) 100%);
background-color:rgb(5, 5, 129); 
text-align: center;
font-size: 35px;}
h3{background-color: cornflowerblue ; 
font-size: 18px;}
    #caja{font-weight: bold;
    color:cornflowerblue;
margin-left: 30px;
width: 200px;
column-count: 1;
box-shadow: -18px 22px 52px 0px rgba(137,196,232,0.75);
-webkit-box-shadow: -18px 22px 52px 0px rgba(137,196,232,0.75);
-moz-box-shadow: -18px 22px 52px 0px rgba(137,196,232,0.75);     
border-radius: 5px 10px 5px 10px; }
h5{ line-height: 5px;
             }
    h4{font-size: 18px;
    background-color: rgb(2,0,36);
    background: linear-gradient(354deg, rgba(2,0,36,1) 0%, rgba(9,41,121,1) 0%, rgba(14,246,255,1) 100%); }
.destacados{ font-size: 20px;
box-shadow: 0 0 30px;}

 